---
---

$gwanak-green: #005640 !default;
$section-headings-color: $gwanak-green !default;

@import "{{ site.theme }}";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200..900&display=swap");

body {
  font-family: "Noto Serif KR", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
  text-align: center;
}

#logo {
  padding: 1rem;
  height: 10rem;
}

#nav {
  background-color: $gwanak-green;
  padding: 0.5rem;
}

#nav a {
  color: white;
  font-size: 1.2rem;
  padding: 0.5rem;
}

#nav a:hover {
  font-weight: bold;
  text-decoration: none; // remove underline
}

.main-content {
  padding: 0rem;
}

#about {
  padding: 4rem;
}

.menu-imgs {
  line-height: 0; // remove space between images
}

.menu {
  line-height: 0; // remove space between images
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.contact {
  padding: 2rem;
  text-align: center;
}
