---
---

$gwanak-green: #005640 !default;
$section-headings-color: $gwanak-green !default;

@import "{{ site.theme }}";

header {
  text-align: center;
  height: 13em;
}

#logo {
  padding: 1em;
  height: 10em;
}

#nav {
  background-color: $gwanak-green;
  padding: 0.5em;
}

#nav a {
  color: white;
  font-size: 1.2em;
  padding: 0.5em;
}
