<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200..900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://kit.fontawesome.com/a351a9cf24.js" crossorigin="anonymous"></script>
    <title>관악별장</title>
    {% include head-custom.html %}
  </head>
  <body>
    <header>
      <img id="logo" src="assets/img/logo.png" alt="Logo">

      {% include navigation.html %}
    </header>
    <main id="content" class="main-content">
      {{ content }}
    </main>
  </body>
</html>
